<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pie.mybatis.mapper.AddressMapper">
    <!--mybatis里  resultMap来映射  PO -->
    <resultMap id="BaseResultMap" type="Address">
        <!--   对应数据的ID-->
        <id property="addressId" column="address_id"/>
        <result property="uId" column="u_id"/>
        <result property="recipients" column="recipients"/>
        <result property="phone" column="phone"/>
        <result property="address" column="address"/>
        <result property="isDefault" column="is_default"/>
        
    </resultMap>
      
</mapper>